/* Primary color */

.home-message:hover {
  background-color:#4390df;
  background-color:rgba(45,92,136,0.6);
}

nav.woocommerce-pagination ul li a:hover,
.wp-pagenavi a:hover,
.panel-heading .accordion-toggle,
.variations .kad_radio_variations label:hover,
.variations .kad_radio_variations label.selectedValue {
  border-color:#4390df;
}

a,
#nav-main ul.sf-menu ul li a:hover,
.product_price ins .amount,
.price ins .amount,
.color_primary,
.primary-color,
#logo a.brand,#logo-nav a.brand,
#nav-main ul.sf-menu a:hover,
.woocommerce-message:before,
.woocommerce-info:before,
#nav-second ul.sf-menu a:hover,
.footerclass a:hover,
.posttags a:hover,
.subhead a:hover,
.nav-trigger-case:hover .kad-menu-name,
.nav-trigger-case:hover .kad-navbtn,
#kadbreadcrumbs a:hover,
#wp-calendar a {
  color:#4390df;
}
#nav-main ul.sf-menu a:hover {
/*background-color:#555;*/
border-radius:10px;
box-shadow:
0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}
.widget_price_filter .ui-slider .ui-slider-handle,
.product_item .kad_add_to_cart:hover,
.product_item:hover .kad_add_to_cart:hover,
.kad-btn-primary,
html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover,
html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a,
.product-category.grid_item a:hover h5,
.woocommerce-message .button,
.widget_layered_nav_filters ul li a,
.widget_layered_nav ul li.chosen a,
.wpcf7 input.wpcf7-submit,
.yith-wcan .yith-wcan-reset-navigation,
#containerfooter .menu li a:hover,
.bg_primary,
.portfolionav a:hover,
.home-iconmenu a:hover,
p.demo_store,
.topclass,
#commentform .form-submit #submit,
.kad-hover-bg-primary:hover,
.widget_shopping_cart_content .checkout,
.login .form-row .button,
.kad-post-navigation .kad-previous-link a:hover,
.kad-post-navigation .kad-next-link a:hover,
.variations .kad_radio_variations label.selectedValue,
#payment #place_order,
.checkout-button,
input[type="submit"].button,
.order-actions .button {
  background:#4390df;
}

/* 20% lighter than Primary */

a:hover {
  color:#6faae6;
}

.kad-btn-primary:hover,
.login .form-row .button:hover,
#payment #place_order:hover,
.yith-wcan .yith-wcan-reset-navigation:hover,
.widget_shopping_cart_content .checkout:hover,
.woocommerce-message .button:hover,
#commentform .form-submit #submit:hover,
.wpcf7 input.wpcf7-submit:hover,
.widget_layered_nav_filters ul li a:hover,
.widget_layered_nav ul li.chosen a:hover,
.checkout-button:hover,
.order-actions .button:hover,
input[type="submit"].button:hover {
  background:#113861;
}

.product_item.hidetheaction .kad_add_to_cart {
  background:transparent;
  color:transparent;
}

.product_item:hover .kad_add_to_cart {
  background:#113861;
  color:#fff;
}

/* Background Skins */

.contentclass,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background:#fff;
}

.mobileclass {
  background:#f2f2f2;
  background:rgba(0,0,0,0.0);
}

.headerclass {
  background:#fff;
}

.footerclass {
  background:#113861;
}

.navclass {
  background:#fff;
}

.bg-lightgray {
  background:#f2f2f2;
  background:rgba(0,0,0,0.05);
}

/* Header - Type */

h1,
h2,
h3 {
  color:#333;
}

h4 {
  color:#444;
}

h5 {
  color:#555;
}

.sf-menu a {
  letter-spacing:normal;
}

#nav-second ul.sf-menu a {
  letter-spacing:normal;
}

.color_gray,
#kadbreadcrumbs a,
.subhead,
.subhead a,
.posttags,
.posttags a,
.product_meta a {
  color:#777;
}

body,
.color_body,
.sidebar a,
.author-name a,
.author-latestposts h5 a,
.author-latestposts h5,
.author-profile .author-occupation,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.product_price,
.product_details > .product_excerpt {
  color:#444;
}

/* General */

a:hover {
  text-decoration:none;
}

.hometitle {
  text-align:center;
}

/* Footer */

#containerfooter h3,
#containerfooter {
  color:#e2e2e2;
}

.footercredits p {
  color:#aaa;
}

.footerclass a {
  color:#e2e2e2;
}

.footernav ul li a {
  color:#e2e2e2;
}

/* Custom */

.sidebar a {
  color:#555;
}

.kad-nav-inner .kad-mnav i {
  padding-right:0;
}